[submodule "Angular"]
	path = Angular
	url = https://github.com/rishiraj824/TeamRocketFrontEnd.git
[submodule "PythonServer"]
	path = PythonServer
	url = https://github.com/winuall/jivox-hack.git
[submodule "GoServer"]
	path = GoServer
	url = https://github.com/shubhodeep9/JivoxCensusGo.git
